{% extends "layout.jinja2" %}
{% block main %}
<main class="container">
    <div class="form-group">
        <label for="Title">Title:</label>
        <input class="form-control" rows="5" id="Title"></input>
        <label for="Entry">Entry:</label>
        <textarea class="form-control" rows="5" id="Entry"></textarea>
    </div>
      <button type="button" class="btn btn-primary">Save New Entry</button>
      <a href="/"><button type="button" class="btn btn-default">Cancel</button></a>
</main>
{% endblock %}