{% extends "layout.jinja2" %}
{% block main %}
<main class="container">

    <h1>{{post.title}}</h1>
    <h2>Created: {{post.published_on}}</h2>
    <p>
      {{post.body}}
    </p>
    <a href="/"><button type="button" id="target" class="btn btn-primary">Edit</button></a>
</main>
{% endblock %}
